.partner_wrap .feedback .feed_tab:after, .layer_body.notiview .layer_head .etc:after, .insight_sec:after { content: ""; display: block; clear: both; }

.main .wrap { margin-top: 0; padding-top: 0; }

.main .footer .social { display: block; }

.main .keyvisual .figure { padding-top: 82%; background-size: cover; background-position: center 0; background-repeat: no-repeat; }

.main .keyvisual .info { padding: 25px 30px; }

.main .keyvisual .info .title { font-size: 15px; font-weight: 700; }

.main .keyvisual .info .desc { font-weight: 300; }

.main .btn-util { padding: 18px 0; background-image: url(../images/common/main_btn-bg.png); background-size: cover; background-repeat: no-repeat; background-position: center center; text-align: center; }

.main .btn-util a { display: block; width: 100%; height: 100%; font-size: 15px; font-weight: 700; color: #ffffff; }

.main .section { padding: 60px 0 0; }

.main .section > h2 { font-size: 20px; text-align: center; }

.main .kvpage { position: absolute; right: 0; width: 7.5rem; padding: 10px; text-align: right; background-color: #fff; z-index: 1; }

.main .kvpage .swiper-counter span { display: inline-block; font-size: 11px; color: #888888; }

.main .kvpage .swiper-counter span.cur { color: #000; }

.main .swiper-pagination-progressbar { width: calc(100% - 20px); height: 1px; }

.main .swiper-pagination-progressbar .swiper-pagination-progressbar-fill { background: #000; }

.main .btn_more { display: inline-block; margin-top: 20px; }

.main .btn_more i { display: inline-block; width: 7px; height: 7px; margin-top: -2px; border-top: 1px solid #333; border-right: 1px solid #333; -webkit-transform: rotate(45deg); transform: rotate(45deg); vertical-align: middle; }

.main .section h3 { display: block; padding-bottom: 20px; font-size: 23px; text-align: center; }

.main .solution_sec { position: relative; }

.main .solution_sec:before { content: ''; position: absolute; top: 42px; left: 0; display: block; width: 115px; padding-top: 100%; background-image: url(../images/common/bar.png); background-size: cover; background-position: center center; background-repeat: no-repeat; }

.main .solution_sec .swiper-slide { margin-right: 13px; }

.main .solution_sec .swiper-slide .figure { padding-top: 75%; margin-bottom: 38px; background-size: 100% calc(100% - 32px); background-position: center center; background-repeat: no-repeat; -webkit-transition: 0.3s ease; transition: 0.3s ease; }

.main .solution_sec .swiper-slide .info { padding: 0 25px; }

.main .solution_sec .swiper-slide .info > h4 { font-size: 25px; font-weight: 300; }

.main .solution_sec .swiper-slide .info .title { padding-top: 1.75rem; font-weight: 700; }

.main .solution_sec .swiper-slide .info .desc { padding-top: 1.0rem; font-weight: 300; }

.main .solution_sec .swiper-slide.swiper-slide-active .figure { background-size: cover; }

.main .solution_sec .swipe_navi { position: absolute; top: 53%; right: 30px; width: 60px; z-index: 11; }

.main .solution_sec .swipe_navi > div { position: relative; }

.main .solution_sec .swipe_navi .swiper-button-next { right: 0; width: 15px; height: 10px; background-image: url(../images/common/slide_next.png); background-size: 15px; background-repeat: no-repeat; background-position: 0 center; }

.main .solution_sec .swipe_navi .swiper-button-prev { left: 0; width: 15px; height: 10px; background-image: url(../images/common/slide_prev.png); background-size: 15px; background-repeat: no-repeat; background-position: 0 center; }

.main .recommand_sec .swiper-container { padding: 0 35px; background-image: url(../images/common/mproduct_bg.png); background-size: cover; background-repeat: no-repeat; background-position: center 0; -webkit-transition: 0.3s ease; transition: 0.3s ease; }

.main .recommand_sec .swiper-slide { text-align: center; }

.main .recommand_sec .swiper-slide > a { display: block; }

.main .recommand_sec .figure { position: relative; padding-top: 100%; }

.main .recommand_sec .figure img { position: absolute; bottom: 5px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); -webkit-transition: 0.4s ease-in; transition: 0.4s ease-in; max-width: calc(100% - 40px); }

.main .recommand_sec .info { opacity: 0; padding-top: 40px; -webkit-transition: 0.3s ease; transition: 0.3s ease; }

.main .recommand_sec .info .desc { padding-top: 1.15rem; font-size: 14px; }

.main .recommand_sec .tags { opacity: 0; margin-top: 18px; }

.main .recommand_sec .tags .tag { display: inline-block; min-width: 50px; padding: 0.5rem 1.0rem 0.6rem; margin-bottom: 5px; border: 1px solid #c2c2c2; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; font-size: 12px; font-weight: 300; color: #888888; }

.main .recommand_sec .logo { opacity: 0; min-height: 20px; background-repeat: no-repeat; background-position: center 0; background-size: auto 20px; }

.main .recommand_sec .logo img { max-height: 21px; }

.main .recommand_sec .logo.logo_scott img { max-height: 58px; }

.main .recommand_sec .swiper-slide-active .figure img { bottom: 0; }

.main .recommand_sec .swiper-slide-active .info, .main .recommand_sec .swiper-slide-active .tags, .main .recommand_sec .swiper-slide-active .logo { opacity: 1; }

.main .recommand_sec .swipe_navi { position: absolute; top: calc(50% / 1.65); width: calc(100% - 70px); z-index: 11; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }

.main .recommand_sec .swipe_navi > div { position: relative; width: 100%; z-index: 11; }

.main .recommand_sec .swipe_navi .swiper-button-next { right: -18px; width: 20px; height: 20px; background-image: url(../images/common/slide_next2.png); background-size: 12px; background-repeat: no-repeat; background-position: 0 center; }

.main .recommand_sec .swipe_navi .swiper-button-prev { left: -13px; width: 20px; height: 20px; background-image: url(../images/common/slide_prev2.png); background-size: 12px; background-repeat: no-repeat; background-position: 0 center; }

.main .innov_sec { margin-top: 60px; padding-bottom: 45px; background-color: #f2f4f6; }

.main .innov_sec .swiper-container { padding-left: 3rem; padding-right: 2.5rem; }

.main .innov_sec .figure { position: relative; padding-top: 100%; }

.main .innov_sec .figure img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.main .innov_sec .info { margin-top: 20px; }

.main .innov_sec .info .desc { font-weight: 300; }

.main .mailling_sec > h3 { padding-top: 26px; padding-bottom: 20px; background-image: url(../images/icon/ico_email.png); background-size: 36px; background-repeat: no-repeat; background-position: center 0; }

.main .mailling_sec .row { padding: 0 30px; text-align: center; }

.main .mailling_sec .frm { margin-top: 3rem; }

.main .mailling_sec .frm input[type=text] { width: calc((100% / 2) - 14px); }

.main .mailling_sec .frm span { display: inline-block; width: 20px; vertical-align: middle; }

.main .mailling_sec .frm p { margin-top: 10px; }

.main .mailling_sec .frm select { padding: 1.3rem 25px 1.35rem 10px; border: 1px solid #000000; background-position: right 10px center; }

.main .mailling_sec .btn_wrap { margin-top: 20px; }

.main .mailling_sec .btn_wrap .btn { font-size: 15px; font-weight: 700; }

.main .brand_sec .container-navi { padding-right: 3rem; }

.main .brand_sec .container-navi .swiper-slide { width: auto !important; max-height: 45px; padding: 1.6rem 1.5rem; text-align: center; background-color: #fff; }

.main .brand_sec .container-navi .swiper-slide p { line-height: 1; word-break: break-all; }

.main .brand_sec .container-navi .swiper-slide.swiper-slide-thumb-active { background-image: -webkit-gradient(linear, left top, right top, from(#008dcf), to(#006fba)); background-image: linear-gradient(to right, #008dcf, #006fba); color: #fff; }

.main .brand_sec .container-navi .swiper-slide.swiper-slide-thumb-active p { color: #fff; }

.main .brand_sec .swiper-pagination { display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; position: static; }

.main .brand_sec .swiper-pagination-bullet { width: auto; height: auto; margin: 0; padding: 1.1rem 1.5rem; border-radius: 0; background-color: #fff; opacity: 1; white-space: nowrap; }

.main .brand_sec .swiper-pagination-bullet-active { background-image: -webkit-gradient(linear, left top, right top, from(#008dcf), to(#006fba)); background-image: linear-gradient(to right, #008dcf, #006fba); color: #fff; }

.main .brand_sec .swiper-pagination-bullet-active span { color: inherit; }

.main .brand_sec .container-top { padding-bottom: 55px; }

.main .brand_sec .container-top .swiper-slide { background-size: cover; background-position: center 0; }

.main .brand_sec .container-top .swiper-slide:before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }

.main .brand_sec .row { position: relative; padding: 9.5rem 0 0; margin-top: -5px; z-index: 1; }

.main .brand_sec .row p { padding-left: 8.0rem; padding-right: 5rem; color: #fff; }

.main .brand_sec .row .name { position: relative; font-size: 30px; font-weight: 300; }

.main .brand_sec .row .name:before { content: ''; display: block; position: absolute; left: 0; top: 17px; width: 5.5rem; height: .4rem; background-color: #fff; }

.main .brand_sec .row .eng { padding-top: 15px; font-weight: 700; }

.main .brand_sec .row .desc { padding-top: 10px; }

.main .brand_sec .row .img { padding-left: 8.0rem; padding-top: 15px; }

.main .brand_sec .row .img img { margin-bottom: -55px; }

.partner_wrap .app_link > ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

.partner_wrap .app_link > ul li { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; line-height: 1.5; text-align: center; }

.partner_wrap .app_link > ul li i { display: block; width: 30px; height: 30px; margin: 0 auto 5px; background-size: 30px; background-repeat: no-repeat; background-position: 0 0; }

.partner_wrap .app_link > ul li.lnk01 i { background-image: url(../images/icon/icon_app01.png); }

.partner_wrap .app_link > ul li.lnk02 i { background-image: url(../images/icon/icon_app02.png); }

.partner_wrap .app_link > ul li.lnk03 i { background-image: url(../images/icon/icon_app03.png); }

.partner_wrap .app_link > ul li.lnk04 i { background-image: url(../images/icon/icon_app04.png); }

.partner_wrap .search { margin-top: 50px; background-color: #f2f4f6; }

.partner_wrap .search .row { padding: 45px 30px 35px; text-align: center; }

.partner_wrap .search .row > h3 { font-size: 23px; font-weight: 450px; }

.partner_wrap .search .row .inpwrap { position: relative; margin-top: 2rem; -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.2); box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.2); }

.partner_wrap .search .row .inpwrap input { padding-right: 15%; background-color: #fff; }

.partner_wrap .search .row .inpwrap .btn_search { position: absolute; right: 10px; top: 13px; }

.partner_wrap .noti_board { margin-top: 50px; }

.partner_wrap .noti_board .board_head { position: relative; padding: 10px 0; margin: 0 30px; text-align: center; }

.partner_wrap .noti_board .board_head input.datepicker { width: 10rem; background-color: transparent; border: 0; padding: 0; }

.partner_wrap .noti_board .board_head .btn { position: absolute; top: 34%; }

.partner_wrap .noti_board .board_head .btn i { display: inline-block; line-height: inherit; vertical-align: middle; width: 7px; height: 7px; border-left: 1px solid #000; border-bottom: 1px solid #000; -webkit-box-sizing: border-box; box-sizing: border-box; }

.partner_wrap .noti_board .board_head .btn.btn_prev { left: 18%; }

.partner_wrap .noti_board .board_head .btn.btn_prev i { -webkit-transform: rotate(135deg); transform: rotate(45deg); }

.partner_wrap .noti_board .board_head .btn.btn_next { right: 21%; }

.partner_wrap .noti_board .board_head .btn.btn_next i { -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }

.partner_wrap .noti_board .board_head .btn.last i { border-left-color: #666666; border-bottom-color: #666666; }

.partner_wrap .noti_board .board_head .btn_link { position: absolute; right: 0; top: 17px; font-size: 13px; color: #666666; border-bottom-color: #666666; }

.partner_wrap .noti_board .board_wrap { margin-left: 30px; border-top: 1px solid #eeeeee; }

.partner_wrap .noti_board .board_wrap li { padding: 20px 0 16px; border-bottom: 1px solid #eeeeee; }

.partner_wrap .noti_board .board_wrap li .title { padding-right: 30px; white-space: normal; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }

.partner_wrap .noti_board .board_wrap li .etc p { display: inline-block; padding-left: 5px; font-weight: 300; font-size: 12px; }

.partner_wrap .noti_board .board_wrap li .etc p:before { content: ''; display: inline-block; margin-right: 8px; margin-top: -3px; width: 1px; height: 7px; background-color: #eeeeee; vertical-align: middle; }

.partner_wrap .noti_board .board_wrap li .etc p:first-child { padding-left: 0; }

.partner_wrap .noti_board .board_wrap li .etc p:first-child:before { display: none; }

.partner_wrap .noti_board .board_wrap li .etc p.type { color: #00a8e2; }

.partner_wrap .noti_board .board_wrap li .etc p.date { color: #999999; }

.partner_wrap .noti_board .board_wrap li .etc p.util .ico_download { display: inline-block; width: 11px; height: 10px; background-image: url(../images/icon/icon_download.png); background-size: 11px; background-repeat: no-repeat; background-position: 0 0; vertical-align: middle; }

.partner_wrap .succ_case { position: relative; margin-top: 50px; padding-top: 40px; }

.partner_wrap .succ_case:before { content: ''; display: block; position: absolute; left: 0; top: 0; width: calc(100% - 60px); height: 0; padding-top: 60%; background-image: url(../images/common/pt_topbg.png); background-size: cover; background-repeat: no-repeat; background-position: 0 0; }

.partner_wrap .succ_case h3 { font-size: 23px; color: #fff; text-align: center; }

.partner_wrap .succ_case .swiper-container { padding-left: 30px; }

.partner_wrap .succ_case .swiper-container .swiper-wrapper { margin-top: 25px; }

.partner_wrap .succ_case .swiper-container .figure { position: relative; padding-top: 100%; width: 100%; height: 0; overflow: hidden; -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.2); box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.2); }

.partner_wrap .succ_case .swiper-container .figure img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.partner_wrap .succ_case .swiper-container .info { padding-top: 15px; }

.partner_wrap .succ_case .swiper-container .info * { font-weight: 300; }

.partner_wrap .feedback { margin-top: 50px; padding: 45px 0; background-color: #f2f4f6; }

.partner_wrap .feedback h3 { font-size: 23px; text-align: center; }

.partner_wrap .feedback .feed_tab { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 20px; }

.partner_wrap .feedback .feed_tab .tabs { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 10px 0; border-bottom: 1px solid #e5e5e5; text-align: center; }

.partner_wrap .feedback .feed_tab .tabs a { display: block; color: #999999; }

.partner_wrap .feedback .feed_tab .tabs.active { border-bottom: 2px solid #0053a7; }

.partner_wrap .feedback .feed_tab .tabs.active a { font-weight: 450; color: #0053a7; }

.partner_wrap .feedback .row { padding-left: 30px; padding-right: 30px; }

.partner_wrap .feedback .order_list .item { background-color: #fff; }

.partner_status { background-image: url(../images/common/pt_topbg.png); background-size: 100% 28.4rem; background-repeat: no-repeat; background-position: center top; }

.partner_status .partner_info { position: relative; padding: 20px 30px; color: #fff; }

.partner_status .partner_info p, .partner_status .partner_info span, .partner_status .partner_info a { font-size: 12px; color: #fff; }

.partner_status .partner_info p { width: 70%; }

.partner_status .partner_info p span { font-weight: 700; }

.partner_status .partner_info .btn_modi { position: absolute; right: 30px; top: 20px; }

.partner_status .partner_info .btn_modi i { display: inline-block; line-height: inherit; vertical-align: middle; margin-top: -2px; margin-left: 3px; width: 7px; height: 7px; border-left: 1px solid #fff; border-bottom: 1px solid #fff; -webkit-transform: rotate(-135deg); transform: rotate(-135deg); -webkit-box-sizing: border-box; box-sizing: border-box; }

.partner_status .swiper-container { padding-left: 30px; padding-bottom: 50px; }

.partner_status .item { min-height: 3.5rem; padding: 25px 0; background-color: #fff; -webkit-box-shadow: 10px 15px 25px 0px rgba(0, 0, 0, 0.36); box-shadow: 10px 15px 25px 0px rgba(0, 0, 0, 0.36); }

.partner_status .item .conts { padding-left: 25px; padding-right: 25px; }

.partner_status .desc { min-height: 9rem; margin-top: 40px; font-size: 20px; font-weight: 300; line-height: 1.5; }

.partner_status .desc strong { font-size: inherit; line-height: 1.5; }

.partner_status .desc .unit { display: inline-block; font-size: 13px; font-weight: 700; line-height: 1.5; vertical-align: middle; }

.partner_status .summary { min-height: 38px; margin-top: 20px; font-size: 11px; color: #666666; }

.partner_status .summary span { font-size: inherit; color: #0053a7; }

.partner_status [class*='type_'] { font-size: 11px; font-weight: 700; }

.partner_status [class*='type_'] i { display: inline-block; width: 12px; height: 13px; margin-right: 6px; background-size: 12px; background-repeat: no-repeat; background-position: 0 0; vertical-align: middle; }

.partner_status .type_feedback i { background-image: url(../images/icon/icon_feedback.png); }

.partner_status .qty_list { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 35px; }

.partner_status .qty_list li { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; }

.partner_status .qty_list .title { font-size: 11px; color: #666666; }

.partner_status .qty_list .qty { font-size: 22px; font-weight: 700; }

.layer_body.notiview .layer_head { padding-bottom: 15px; }

.layer_body.notiview .layer_head .layer_title { height: inherit; padding-bottom: 5px; font-size: 14px; background-color: #fff; }

.layer_body.notiview .layer_head .etc { padding: 0 23px; }

.layer_body.notiview .layer_head .etc p { float: left; padding-left: 5px; font-size: 12px; font-weight: 300; }

.layer_body.notiview .layer_head .etc p:before { content: ''; display: inline-block; margin-right: 8px; margin-top: -3px; width: 1px; height: 7px; background-color: #eeeeee; vertical-align: middle; }

.layer_body.notiview .layer_head .etc p:first-child:before { display: none; padding-left: 0; }

.layer_body.notiview .layer_head .etc .type { color: #00a8e2; }

.layer_body.notiview .layer_head .etc .date { color: #999999; }

.layer_body.notiview .layer_wrap { background-color: #f2f4f6; }

.layer_body.notiview .layer_cont { height: auto; padding-bottom: 60px; }

.layer_body.notiview .attach { margin-top: 5px; margin-bottom: 15px; text-align: right; }

.layer_body.notiview .attach a { display: inline-block; color: #000; font-size: 12px; font-weight: 500; }

.layer_body.notiview .attach [class^="ico"] { display: inline-block; width: 1.35rem; height: 1.35rem; margin: -4px 5px 0; background-size: 100% auto; background-position: 50% 50%; background-repeat: no-repeat; vertical-align: middle; }

.layer_body.notiview .attach .ico_pdf { background-image: url(../images/icon/ico_pdf.png); }

.layer_body.notiview .attach .ico_jpg { background-image: url(../images/icon/ico_jpg.png); }

.layer_body.notiview .attach .ico_gif { background-image: url(../images/icon/ico_gif.png); }

.layer_body.notiview .conts { color: #666666; }

.layer_body.notiview .conts p { margin-bottom: 10px; color: #666666; }

.insight_sec .row { margin: 0 30px; }

.insight_sec .item { position: relative; float: left; width: calc((100% / 2) - 1px); margin-right: 2px; margin-bottom: 2px; padding: 20px 20px 26.83%; background-color: #f2f4f6; }

.insight_sec .item:nth-child(2n) { margin-right: 0; }

.insight_sec .item a { display: inline-block; width: 100%; height: 100%; }

.insight_sec .item .logo img { max-height: 27px; }

.insight_sec .item .btn_more { margin-top: 5px; font-size: 11px; }

.insight_sec .item .btn_more i { width: 5px; height: 5px; margin-top: -3px; }

.insight_sec .item .figure { position: absolute; right: 20px; bottom: 20px; text-align: right; }

.insight_sec .item .figure img { max-width: 40px; }

@media screen and (min-width: 440px) and (max-width: 769px) { .insight_sec .row { max-width: 370px; margin: 0 auto; } }

@media screen and (max-width: 340px) { .insight_sec .item .figure { bottom: 10px; }
  .insight_sec .item .figure img { max-width: 30px; } }
